@{
    ViewData["Title"] = "Aula hoje";
}

<div class="text-center">
    <h1 class="display-4"> Bem vindo</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
<div>
    <h1>Me fale de você:</h1>
    <input type="passowrd" name ="password">Digite sua senha </input>
</div>
<div>
<h2>Deixe seu recado</h2>
    <input type="text" name="Digite seu texto" id="">deixe uma mensagem</input>
</div>
</div>
<br>

